.botonera {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.boton {
    margin: 10px;
}

.icon {
    transform: scale(1.5);
    color: #1f1732;
}

.createContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 25px;
}
