.element {
    transition: all 0.2s linear;
}

.element:hover {
    background-color: #c4c4c4;
}

.icon {
    color: #1f1732;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.iconop {
    color: #1f1732;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s linear;
}

.iconop:hover {
    transform: scale(1.3);
    border-radius: 50%;
}

.boton {
    background-color: transparent;
    border: none;
}
.fileInput {
    width: 100%;
}

.fileInput:disabled {
    background-color: rgba(255, 0, 0, 0);
    border-width: 0px;
}

.fileInput:enabled {
    border-width: 0px 0px 1px 0px;
    background-color: #1f173200;
}

.fileInput:focus {
    outline: none;
}

.fileInput {
    cursor: pointer;
}
