.login-container {
    width: 500px;
    height: 600px;
    background-color: #a09da4;
    border-radius: 5px;
}

.login-input {
    border-radius: 5px;
    width: 100%;
}

.login-button {
    margin-top: 15px;
    width: 100%;
    background-color: #1f1732;
    color: white;
    border-radius: 5px;
}

.login-title {
    font-size: 30px;
    color: #1f1732 !important;
}

.login-field {
    padding-top: 10px;
    width: 60%;
    margin-bottom: 10px;
    line-height: 0;
}
