@font-face {
  font-family: "Fuente 1";
  src: url("../assets/fonts/soehne-breit-web-buch.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Fuente 2";
  src: url("../assets/fonts/Inter-Black.woff");
  font-style: normal;
}
.navbar-background {
  background-color: #1f1732;
}

.navbar-brand {
  color: #e9b9ff !important;
  font-family: "Fuente 1";
  text-transform: uppercase;
}

.navbar-link {
  color: #ffd7ff !important;
  font-family: "Fuente 1";
  padding-left: 10px;
  text-decoration: none;
}

.navbar-logo {
  width: 40px;
  height: auto;
  padding-right: 10px;
}

body {
  font-family: "Fuente 1";
  background-color: #e2e2e2;
}

.btn-outline-primary {
  background-color: white;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}
