.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preview {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 100%;
  max-height: 100%;
}

.preview iframe {
  width: fit-content;
  height: fit-content;
}

.metadata {
  background-color: green;
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.metadata .title {
  padding: 15px;
  background-color: #ac88c1;
  color: #cbcbcb;
}

.metadata .content {
  background-color: #1f1732;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clipboard:hover {
  transform: scale(1.2);
}

.clipboard {
  transition: all 0.2s ease-in-out;
}
