.main{
    margin-top: 20px;
    height: 100vh;
}

.boton{
    background-color: #1f1732;
}

.lista{
    margin: 5px;
}
.circle{
    height: 60px;
    width: 60px;
    background-color:#1e1830    ;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px; 
    transition: all .2s ease-in-out;

}
.fixedbutton {
    cursor: pointer;
    position: fixed;
    bottom: 35px;
    right: 35px; 
    color: #dcb6f4;
    transition: all .2s ease-in-out;
}
.fixedbutton:hover { transform: scale(1.1); }
